# Environment Configuration File

# API Endpoint
VITE_API_URL=https://api.backend.endpoint

# Database Configuration
VITE_DB_HOST=localhost
VITE_DB_NAME=u614611176_agentshop
VITE_DB_USER=your_username
VITE_DB_PASSWORD=your_password